<html>
<body>
<h1>welcome to: {{ name }}</h1>
    <form id="main" method="post" action="/{{ name }}/{{ slide }}">
    <fieldset>
    <legend>Slide # {{ slide }}</legend>
    <ol>
    <li>
    <label for="text">Texto</label>
    <textarea id="text" name="text" rows=5 cols=40 required>{{ text }}</textarea>
    </li>
    </ol>
    </fieldset>
    <input type="submit" value="Continue..."/>
    </form>

    <h2>Oter slides</h2>
    <ul>
    % for row in rows:
    <li><a href="/{{ name }}/{{ row[0] }}">{{ row[0] }}: {{ row[1][:50] }}</a></li>
    % end
    </ul>

    <form id="go" action="/{{ name }}/go">
    <input type="submit" value="Generate presentation"/>
    </form>
</body>
</html>
